{% load static %}



html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

 * {
    box-sizing: border-box;
}

.search-form {width:70%;margin:auto;position:relative;top:90px;}



#but{
   
   background-color:white ;border-radius: 5px;width:80%;
}


.contain-body {
bodrder:2px solid red;width:100%;height:auto;position:relative;top:-200px;background-color:#eaeaea
}

.hp-pics { width:50%;height:auto;margin:auto;borhder:2px solid red;background-color:#eaeaea;#e5e5e5;border-radius:5px;padding:10px
}

.search-text {
font-size:21px;width:30%;position:relative;top:10px;margin:auto;color:orange
}

.sidenav {
    width: 20%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


.twoo {
    width: 90%;
    height: 60%;
    margin: auto;
    bordker: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    box-shadow:0 0px 0px;
    border-radius: 5px;
    cleadr:both;
}

#twoooimg{
    
    width:98%;
    height:75%;
    margin:auto;
    margin-bottom: 5px;

    border-radius:5px ;
    opaecity:0.8;
    padding: ;

}


#footer {
 clear: both;
 position: relative;
 z-index: -10;
 height: 3em;
 margin-top: -3em;

}

#content { padding-bottom: 3em; }

a:hover{
    background-color: orange;
    text-decoration: none;
}
a.active{
    background-color: green;
    text-decoration: none;
}

.one {
    height: 5%;
    background-color: #191930;
    background: linear-gradient(to right,#191940,#191930 );
    margin-bottom: 2px;
    box-sshadow: 0 5px 5px ;
    border-radius: 5px;
   
    
    width:100%;
}

 .s{
    color: orange;
    font-weight: bold;
    text-shadow: 0px 0px 5px orange;
}
.two {
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 5px 5px;
    border-radius: 5px;
    color: ;
    
}




li {
    display: inline;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.twoimg {
    height: 90%;
    margin: 5px;
    border-radius: 50%;
    opacity:0.85;
}
/* of affix image */

#two {
    width: 20%;
    height: 80%;
    float: right;
    border: 0px solid ;
    padding: 10px;
    margin-right:5px;
    text-align: ;
    color: white;
}

/* of 2nd image */







 /* of third image */

.twooo {
    width: 20%;
    height: 20%;
    float: left;
    border: 3px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadow:0 0px 0px;
    border-radius: 5px;
   }
/* of details */

.done {

    
   
    display:block;
    floact: left;
    width: 40%;
    height: 100%;
    kkoverflow: auto;
    margin: auto;
    bordejr:2px solid green ;
}

.twoood {
    width: 96%;
    height: 25%;
    
    border: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadohw:0 5px 5px;
    border-radius: 5px;
   }

.sp {

    border:1px solid gray ;
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 0px 0px;
    border-radius: 5px;
    color: ;
    z-index:-10;
    
}


.twooosp {
    width: 95%;
    height: 25%;
    
    border: ;
    padding: 10px;
    margin-top:20px;
    margin-left:10;
    bosx-shadow:0 0px 5px;
    border-radius: 5px;
   }



.w-note {width:15%;height:60%;float:right;margin-right:170px;background-color:white;position:relative;top:10px;border-radius:5px;opacity:0.8
}


.search-div {
width:40%;height:90%;margin:auto;background-color:#191930;position:relative;top:10px;border-radius:5px;opacity:0.9
}


#logo {
width:20%;
height:auto;}

#place-details {
border-radius: 5px;
height:auto;
width:50%;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}


#place-d-img {
width:40%;
height:50%;
margin:auto;
display:block;
margin-top:5px;
}

.article {
border-radius: 5px;
height:auto;
width:50%;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}

#p-list-img {
height:auto;
float:left;
width:25%;
border:1px solid #1E90FF;
margin:2px;
}

.about {
height:100%;
width:35%;
margin:auto;
background-color:#cec6f3;
text-align: center;
}



#bgimg{
background-image: url({% static 'mw3.jpg' %}) ;width:100%;height:43%;background-repeat:initial;position:relative;top:-20px;
}



/* mobile site */


@media screen and (max-width: 500px) {






#twoooimg{
    
    width:98%;
    height:98%;
    margin:auto;
    margin-bottom: 5px;

    border-radius: ;
    opacity:0.8;
    padding: ;

}



.about {
height:auto;
width:100%;
margin:auto;
background-color:#cec6f3;
text-align: center;
}


#p-list-img {
height:auto;
float:left;
width:42%;
border:1px solid #1E90FF;
margin:2px;
}

.article {
border-radius: 5px;
height:auto;
width:100%;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}

/* in discription */
#place-d-img {
width:auto%;height:auto;margin:auto;margin-top:5px;display:block;
}

#place-details {
border-radius: 5px;height:auto;width:100%;border:;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:justify;}


.twoood {
    width: 96%;
    height: 35%;
    
    border: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadohw:0 5px 5px;
    border-radius: 5px;
   }


.done {
    display:block;
    floact: left;
    width: 100%;
    height: auto;
    kkoverflow: auto;
    margin: auto;
    bordejr:2px solid green ;
}



.sidenav {
    width: 100%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


#logo {
width:50%;
height:auto;}

#twoooimg{
    height: auto;
    width:90%;
    margin: 5px;
    border-radius: ;
    opacity:1;
    padding: ;

}





.twoo {
    width: auto;
    height: auto;
    margin: auto;
    boccrder: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    box-shadow:0 0px 0px;
    border-radius: 5px;
}

.search-div {
width:100%;height:90%;margdin:auto;background-color:#191930;position:relative;top:10px;border-radius:5px;opacity:1;clear:both;
}

.w-note {display:none
}

.hp-pics { width:100%;height:auto;margin:auto;borhder:2px solid red;background-color:#eaeaea;#e5e5e5;border-radius:5px;padding:10px
}

.contain-body {
bodrder:2px solid red;width:100%;height:auto;position:relative;top:-150px;background-color:#eaeaea
}

.search-text {
bordwer:2px solid red;
font-size:15px;height:20%;width:37%;position:relative;top:;-140px;margin:auto;color:orange;
overflow:hidden;
}

.search-form {width:90%;margin:auto;position:relative;top:50px;}

#but{
   
   background-color:white ;border-radius: 5px;width:70%;
}

#bgimg{
background-image: url({% static 'mw3.jpg' %}) ;width:100%;height:43%;background-repeat:initial;position:relative;top:-15px;
}


}





