



html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }


.review{width:20%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;float:right;position:relative;top:-5r0%;background-color:white}

.review2{width:20%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;float:right;position:relative;top:-5r0%;background-color:white;display:none}




.post_img1{width:32%;height:auto;bofrder-bottom:2px solid #191940;overflow:auto;padding:2px;margin:2px;float:left}

.post_inside{width:100%;height:auto;border-fbottom:2px solid #191940;overhflow:auto;padding:2px;margin:2px}

#dd2{padding:5px;border-radieus:5px;margin-right:10px;border-right:none;2px solid orange;display:block;float:right;border:none;}

.book-form {width:40%;margin:auto;height:auto;bordser:2px solid red;border-radius:5px;box-shadow:0 5px 5px orange;padding:15px;margin-bottom:10px}


input{color:black}

.login {border:2px solid #191930;width:25%;margin:auto}
.form-plug{bodrder:2px solid red;width:100%;text-align:center;background-color:#191930;color:white;font-weight:bold;padding:2px;font-size:20px}

.n-place-details {width:50%;height:auto;border:2px solid #191940;margin:auto;padding:2px;border-radius:5px;background-color:white}


.Article_text {text-align:left;color:#696969;font-size:20px }

 * {
    box-sizing: border-box;
}

#dd{padding:5px;border-radieus:5px;margin-right:10px;border-right:1px solid orange;}

#room-d-img{width:20%;height:auto;float:left}

.search-form {width:70%;margin:auto;position:relative;top:60px;}

#price-tag{width:25%;height:auto;bordrer:2px solid #191940;overflow:hidden;float:right;font-size:14px;font-weight:bold;color:#1E90FF;padding:2px;}

#affmg {display:none}

.post_list {width:60%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;backgfround-color:#191940;color:white;#ffae00;margin:auto}

#but{
   
   background-color:white ;border-radius: 5px;width:80%;
}


.contain-body {
bodrder:2px solid red;width:100%;height:auto;position:relative;top:-220px;background-corlor:#eaeaea;margin:auto;overflow:hidden;
}

.hp-pics {

height:auto;boruder:2px solid red;overflow:hidden;margin:auto;padding:11px;padding-right:0px;

 width:50%;background-color:#eaeaea;#e5e5e5;border-radius:5px
}

.search-text {
font-size:21px;width:30%;position:relative;top:10px;margin:auto;color:orange
}

.sidenav {
    width: 20%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


.twoo {
width:31%;background-color:white;float:left;margin-right:15px;


    
    height: auto;
    marging: auto;
    bordker: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    bohx-shadow:0 0px 0px;
    border-radius: 5px;
    clead:both;
}

#twoooimg{
    
    width:98%;
    height:75%;
    margin:auto;
    margin-bottom: 2px;

    border-radius:5px ;
    opaecity:0.8;
    padding: ;

}


#footer {
 clear: both;
 position: relative;
 z-index: -10;
 height: 3em;
 margin-top: -3em;

}

#content { padding-bottom: 3em; }

a:hover{
    background-color: orange;
    text-decoration: none;
}
a.active{
    background-color: green;
    text-decoration: none;
}

.one {
    height: 5%;
    background-color: #191930;
    background: linear-gradient(to right,#191940,#191930 );
    margin-bottom: 2px;
    box-sshadow: 0 5px 5px ;
    border-radius: 5px;
   
    
    width:100%;
}

 .s{
    color: orange;
    font-weight: bold;
    text-shadow: 0px 0px 5px orange;
}
.two {
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 5px 5px;
    border-radius: 5px;
    color: ;
    
}




li {
    display: inline;
    
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.twoimg {
    height: 90%;
    margin: 5px;
    border-radius: 50%;
    opacity:0.85;
}
/* of affix image */

#two {
    width: 20%;
    height: 80%;
    float: right;
    border: 0px solid ;
    padding: 10px;
    margin-right:5px;
    text-align: ;
    color: white;
}

/* of 2nd image */







 /* of third image */

.twooo {
    width: 20%;
    height: 20%;
    float: left;
    border: 3px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadow:0 0px 0px;
    border-radius: 5px;
   }
/* of details */

.done {

    background-color:white;
    
    display:block;
    float: right;
    width: 60%;
    height: auto;
    kkoverflow: auto;
    margin-right:40px;
    margin-top:10px;
    bordeer:2px solid green ;
    border-radius:5px;
}

.twoood {
    margin:auto;
    width: 100%;
    heigfht: 25%;
    overflow:hidden;float:;height:auto;position:relative;z-index:-10px;background-color:#f3f1f1;#eaeaea;margin-bottom:5%;border:1px solid gray;
    
    borrder: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    #margin-left:10px;
    box-shadohw:0 5px 5px;
    
   }

.sp {

    border:1px solid gray ;
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 0px 0px;
    border-radius: 5px;
    color: ;
    z-index:-10;
    
}


.twooosp {
    width: 95%;
    height: 25%;
    
    border: ;
    padding: 10px;
    margin-top:20px;
    margin-left:10;
    bosx-shadow:0 0px 5px;
    border-radius: 5px;
   }



.w-note {width:15%;height:60%;float:right;margin-right:170px;background-color:white;position:relative;top:10px;border-radius:5px;opacity:0.8
}


.search-div {
width:40%;height:90%;margin:auto;background-color:#191930;position:relative;top:10px;border-radius:5px;opacity:0.9
}


#logo {
width:20%;
height:auto;}

#place-details {
border-radius: 5px;
height:auto;
width:70%;
bordewr:2px solid red;
margin:auto;
margin-top: 10px;
margin-bottom: 3%;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}


#place-d-img {

float:none;width:50%;height:auto;border-radius:5px;margin:auto;display:block;


margin-bottom:3%;
margin-top:5px;
boreder-radius:5px;
}

.author {width:20%;float:left;position:relative;borrder: 2px solid red;margin-right:30px;padding:5px;text-align:center;top:10px}


.article {
position:relative;
border-radius: 5px;
height:auto;
width:60%;
bordedr: 2px solid red;

margin-top: 10px;
padding: 10px;
margin-kleft:20px;
overflow:hidden;
text-align:justify;}

#p-list-img {
height:auto;
float:left;
width:25%;
borderf:1px solid #1E90FF;
margin:2px;
}

.about {
font-weight:bold;
height:100%;
width:35%;
margin:auto;
background-color:#eaeaea;
text-align: center;
}



#bgimg{
background-image: url({% static 'mw3.jpg' %}) ;width:100%;height:43%;background-repeat:initial;position:relative;top:-20px;
}



/* mobile site */


@media screen and (max-width: 765px) {






#twoooimg{
    
    width:98%;
    height:98%;
    margin:auto;
    margin-bottom: 5px;

    border-radius: ;
    opacity:0.8;
    padding: ;

}



.about {
height:auto;
width:100%;
margin:auto;
background-color:#cec6f3;
text-align: center;
}


#p-list-img {
height:auto;
float:left;
width:42%;
bodrder:1px solid #1E90FF;
margin:2px;
}

.article {
border-radius: 5px;
height:auto;
width:100%;
bordder:2px solid red;
margin:10px;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}

/* in discription */
#place-d-img {

float:none;width:100%;height:auto;border-radius:5px;margin:auto;display:block;


margin-bottom:3%;
margin-top:5px;
boreder-radius:5px;
}

#place-details {
border-radius: 5px;height:auto;width:100%;border:;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:justify;}


.twoood {
    width: 100%;
    heright: 35%;
    overflow:hidden;float:;height:auto;position:relative;z-index:-10px;background-color:#f3f1f1;#eaeaea;margin-bottom:5%;border:1px solid #191940;
    bodrder: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    maregin-left:10px;
    bofx-shadohw:0 5px 5px;
    border-radius: 1px;
   }


.done {
    display:block;
    floact: left;
    width: 100%;
    height: auto;
    kkoverflow: auto;
    margin: auto;
    bordejr:2px solid green ;
}



.sidenav {
    width: 100%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


#logo {
width:50%;
height:auto;}

#twoooimg{
    height: auto;
    width:90%;
    margin: 5px;
    border-radius: ;
    opacity:1;
    padding: ;

}





.twoo {
    width: 100%;
    height: auto;
    margin: auto;
    boccrder: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    box-shadow:0 0px 0px;
    border-radius: 5px;
}

.search-div {
width:100%;height:90%;margdin:auto;background-color:#191930;position:relative;top:10px;border-radius:5px;opacity:1;clear:both;
}

.w-note {display:none
}

.hp-pics { width:100%;height:auto;margin:auto;borhder:2px solid red;background-color:#eaeaea;#e5e5e5;border-radius:5px;padding:10px
}

.contain-body {
bodrder:2px solid red;width:100%;height:auto;position:relative;top:-180px;background-color:#eaeaea
}

.search-text {
bordwer:2px solid red;
font-size:15px;height:20%;width:37%;position:relative;top:;-140px;margin:auto;color:orange;
overflow:hidden;
}

.search-form {width:90%;margin-left:10%;position:relative;top:50px;}

#but{
   
   background-color:white ;border-radius: 5px;width:70%;
}

.post_inside{width:100%;height:auto;border-botrtom:2px solid #191940;overhflow:auto;padding:2px;margin:2px;clear:both}

#bgimg{
background-image: url({% static 'mw3.jpg' %}) ;width:100%;height:43%;background-repeat:initial;position:relative;top:-15px;
}

.author {display:none;width:20%;float:left;position:relative;borrder: 2px solid red;margin-right:30px;padding:5px;text-align:center;top:10px}

.post_list {width:100%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;backgfround-color:#191940;color:white;#ffae00;margin:auto}


#affmg {display:block;positsion:relative;tdop:-20px;margifn:auto}
#affmg2 {display:none}
li {display:block}

.n-place-details {width:100%;height:auto;border:2px solid #191940;margin:auto;padding:2px;border-radius:5px;background-color:white}

#price-tag{width:45%;height:auto;boerder:2px solid #191940;overflow:hidden;float:right;font-size:14px;font-weight:bold;color:#1E90FF}

#of-Dis{clear:both;}

#room-d-img{width:40%;height:auto;float:left}

.mobile {width:100%;height:auto;}

#dd{padding:5px;border-radieus:5px;margin-right:10px;border-right:none;2px solid orange;display:block;}
#dd2{padding:5px;border-radieus:5px;margin-right:10px;border-right:none;2px solid orange;display:block;float:left;border:none;}

.post_img1{width:100%;height:auto;bofrder-bottom:2px solid #191940;overflow:auto;padding:2px;margin:2px;float:none;margin:auto}

.review{width:20%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;float:right;position:relative;top:-5r0%;background-color:white;display:none}

.review2{width:100%;height:auto;border:2px solid #191940;overflow:hidden;padding:2px;float:right;position:relative;top:-5r0%;background-color:white;clear:both;display:block}

}





