{% load static %}



html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

 * {
    box-sizing: border-box;
}

.sidenav {
    width: 20%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


#footer {
 clear: both;
 position: relative;
 z-index: -10;
 height: 3em;
 margin-top: -3em;

}

#content { padding-bottom: 3em; }

a:hover{
    background-color: orange;
    text-decoration: none;
}
a.active{
    background-color: green;
    text-decoration: none;
}

.one {
    height: 5%;
    background-color: #191930;
    background: linear-gradient(to right,#191940,#191930 );
    margin-bottom: 2px;
    box-sshadow: 0 5px 5px ;
    border-radius: 5px;
   
    
    width:100%;
}

 {
    color: orange;
    font-weight: bold;
    text-shadow: 0px 0px 5px orange;
}
.two {
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 5px 5px;
    border-radius: 5px;
    color: ;
    
}




li {
    display: inline;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.twoimg {
    height: 90%;
    margin: 5px;
    border-radius: 50%;
    opacity:0.85;
}
/* of affix image */

#two {
    width: 20%;
    height: 80%;
    float: right;
    border: 0px solid ;
    padding: 10px;
    margin-right:5px;
    text-align: ;
    color: white;
}

/* of 2nd image */

.twoo {
    width: 40%;
    height: 35%;
    margin: auto;
    bkorder: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    box-shadow:0 0px 0px;
    border-radius: 5px;
}





 /* of third image */

.twooo {
    width: 20%;
    height: 20%;
    float: left;
    border: 3px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadow:0 0px 0px;
    border-radius: 5px;
   }
/* of details */

.done {
    display:block;
    floact: left;
    width: 40%;
    height: 100%;
    kkoverflow: auto;
    margin: auto;
    bordejr:2px solid green ;
}

.twoood {
    width: 96%;
    height: 25%;
    
    border: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadohw:0 5px 5px;
    border-radius: 5px;
   }

.sp {

    border:1px solid gray ;
    height: 30%;
    background-color: #191930;
    backgrdound: linear-gradient(to right,#191940,#191930 );
    box-shadow: 0 0px 0px;
    border-radius: 5px;
    color: ;
    z-index:-10;
    
}


.twooosp {
    width: 95%;
    height: 25%;
    
    border: ;
    padding: 10px;
    margin-top:20px;
    margin-left:10;
    bosx-shadow:0 0px 5px;
    border-radius: 5px;
   }


#twoooimg{
    height: 98%;
    width:98%;
    margin: 5px;
    border-radius: ;
    opacity:1;
    padding: ;

}

#w-note {
width:40%;
height:120px;
floaet:right;
clear:none;
border:;
border-bottom:2px solid white;
background: linear-gradient(to right,white,white );
box-shadow: 0 0px 0px;
padding:5px;text-align:center;
overflow:hidden;margin:auto;
positionf:relative;
top:-55px;
}

#logo {
width:20%;
height:auto;}

#place-details {
border-radius: 5px;
height:auto;
width:50%;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}


#place-d-img {
width:40%;
height:50%;
margin:auto;
display:block;
margin-top:5px;
}

.article {
border-radius: 5px;
height:auto;
width:50%;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}

#p-list-img {
height:auto;
float:left;
width:25%;
border:1px solid #1E90FF;
margin:2px;
}

.about {
height:100%;
width:35%;
margin:auto;
background-color:#cec6f3;
text-align: center;
}


/* mobile site */
@media screen and (max-width: 500px) {

.about {
height:auto;
width:auto;
margin:auto;
background-color:#cec6f3;
text-align: center;
}


#p-list-img {
height:auto;
float:left;
width:42%;
border:1px solid #1E90FF;
margin:2px;
}

.article {
border-radius: 5px;
height:auto;
width:auto;
border:;
margin:auto;
margin-top: 10px;
padding: 10px;
margin-left:;
overflow:hidden;
text-align:justify;}

/* in discription */
#place-d-img {
width:auto%;height:auto;margin:auto;margin-top:5px;display:block;
}

#place-details {
border-radius: 5px;height:auto;width:100%;border:;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:justify;}


.twoood {
    width: 96%;
    height: 35%;
    
    border: 2px solid orange;
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    box-shadohw:0 5px 5px;
    border-radius: 5px;
   }


.done {
    display:block;
    floact: left;
    width: 100%;
    height: auto;
    kkoverflow: auto;
    margin: auto;
    bordejr:2px solid green ;
}



.sidenav {
    width: 100%;
    height: auto;
    border:/*2px solid red*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; 
    overflow: hidden;
}


#logo {
width:50%;
height:auto;}

#twoooimg{
    height: 50%;
    width:90%;
    margin: 5px;
    border-radius: ;
    opacity:1;
    padding: ;

}



#w-note {
width:auto;
heifght:auto;
floaet:right;
clear:none;
border:;
border-bottom:2px solid white;
background: linear-gradient(to right,white,white );
box-shadow: 0 0px 0px;
padding:5px;text-align:center;
overflow:hidden;margin:auto;
positionf:relative;
top:-55px;
}


.twoo {
    width: auto;
    height: auto;
    margin: auto;
    bkorder: 1px solid orange;
    padding: 10px;
    margin-top:20px;
    
    
    box-shadow:0 0px 0px;
    border-radius: 5px;
}
}





