{% extends 'base.html' %}

{% block content %}

<div style="height:100%;width:35%;margin:auto;background-color:#cec6f3;text-align: center;">
<h1>About Affix Malawi</h1>
<p>We are a company aimed at providing  uptodate information on accomodation in Malawi. We are currently based in Lilongwe Area 25. With other branches opening soon in Blantyre, Mzuzu and other areas.</p>
<p>We have a wider coverage, provide uptodate information, accessible anytime and our services are less expensive unlike other services offered like newspaper adverts.</p>

<h1>Contact us</h1>
<p>Email	:affixmw@gmail.com</br>
   Phone	:0881 460 566, 0881 570 426</br>	
                 
</p>
</div>

{% endblock %}

