{% extends 'base.html' %}
{% load comments %}

{% block content %}
{% if artic.Pic %}
<div class='twoo'><img src="{{artic.Pic.url}}" style="margin:auto;height:20%;witdth:20%" alt="image"></img></div>
{% endif %}

<div style="border-radius: 5px;height:auto;width:50%;border:;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:left;">

<h2 style="text-align:center;font-weight: bold">{{artic.Title}}</h2>
<p style="text-align:center"> {{artic.Article}}</p></br>

<h3>Post a comment</h3>
{% render_comment_form for artic %}

{% render_comment_list for artic %}
</div>

{% comment %}
{% get_comment_form for artic as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>

<!-- display comments -->
{% endcomment %}





{% endblock %}
