{% extends 'base.html' %}
{% load comments %}

{% block content %}
<div style="border-radius: 5px;height:auto;width:50%;border:2px solid orange;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:left;">
<h2 style="text-align:left;font-weight: bold">{{artic.Title}}</h2>
<p style="text-align:left"> {{artic.Article}}</p>



{% get_comment_form for artic as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>
<!-- display comments -->

{% render_comment_list for artic %}


{% endblock %}
