<!Doctypt html>
<html>
<head>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="httdps://cdn.rawgit.com/levi-p/aff/master/details/static/css/css.css" rel="stylesheet">
<link href="{% static 'css/css.css' %}" type="text/css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/css/bootstrap.css" %}">
<script src="{% static "css/bootstrap/js/jquery.min.js" %}"></script>
  

<style>



.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}


a {
color:#1E90FF;
text-decoration:none;
}

a:hover {
    color:orange;
    
}

li {font-size:16px;margin-right:1px }
</style>

<script src="{% static "css/bootstrap/js/bootstrap.min.js" %}"></script>



{% block title %}
<title>Affixmw</title>
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80328072-1', 'auto');
  ga('send', 'pageview');

</script>


</head>





<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div style="width:100%;margin:auto;height:auto;"> 


<div id="container" stylee="border: ;background-color;red">
    <div id="content" style="background-color:red;">

        <div class="one" style="width:100%;height:auto;float:left;padding:0px;">



  

<nav class="nadvbar navbar-inverse" style="background-color: #191930;border-coflor: #080808" role="navigation">
           <div class="navbar-header">
      <button styfle="background-color:white" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      
            <div id="affmg" stsyle="position:relative;top:-50px;float:left;border:;height:200px;width:70%;margind:5px;"><img src="{% static 'Affix2.png' %}" stylhe="" id="logo" alt="gg">
            </div>


           </div>




                <div class="collapse navbar-collapse" id="myNavbar">
<ul clasds="nav navbar-nav" style="padding-left:0;">
<style>
#ddd{background-color:orange;padding:5px;border-radius:5px;margin-right:10px;}


</style>
    
    <li><div id="affmg2" styele="background-color:red;"><img src="{% static 'Affix2.png' %}" stylhe="" id="logo" alt="gg">
</div></li>
    <span id="dd" style=""><a href="/"><li>Home</li></a></span>
   <span id="dd" style=""> <a href="{% url 'Det:details' %}"><li>Accomodation</li></a></span>
   <span id="dd" style=""> <a href="{% url 'art:list' %}"><li>Articles</li></a></span>
    <span id="dd" style=""><a href="{% url 'about' %}"><li>About us</li></a></span>
    




{% if user.is_authenticated %}
    <span id="dd2" style=""><a href="{% url "logout" %}?next=/"><li>logout</li></a></span>
   {% else %}
   <span id="dd2" style="color:white"><li><a style="color:white" href="{% url "login" %}">login</a>/<a style="color:white" href="{% url "Sign_up:Sign_up" %}">sign up</a></li></span>
   {% endif %}
   
</ul>

                 </div>

</div>



</div>


</nav>




<div style="border-top:2px solid #191940;width:100%;height:auto;clear:both;border-bottom:2px solid white;position:relative;top:3px;background-colofr:gray;">

{% block content %}
<body>
      <div id="bgimg" style="position:relative;top:3px;background-image: url({% static 'mw3.jpg' %}) 
">






              <div class="search-div" stylde="background-color:red;opacity:1;">

                      <div claess="search-text" style="font-size:16px;text-align:center;widrth:30%;position:relative;top:10px;margin:auto;color:orange">  <p style="font-weight:bold;">Start here</p>



                       </div>



<form action="{% url 'search' %}" method="GET">{% comment %} {% csrf_token %}{% endcomment %}

{% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}


<div class="search-form" style="">
<input type="text" name='q' value="e.g lilongwe"   onfocus="if (this.value=='e.g lilongwe') this.value='';" style="" id="but">
<!--<input type="hidden" name="next" value="{% url 'art:list' %}" />-->
<input type="submit" value="search" style="background-color: orange;border-radius: 5px;" id="bfut"></form>
</div>





 </div> </div>


</div>
</div>


 </div>




<div class="contain-body" style="">





        <div class="hp-pics" style="height:auto;boruder:2px solid red;overflow:hidden;margin:auto;padding:11px;padding-right:0px">

            <div style="background-color:white;margin-right:15px;brorder-radius-top:5px;color:gray"><p style="text-align:center">cities in malawi</p></div>

{% for H_p in H_p %}


                    <div class="twoo" styele="margin-right:15px" >
                          <div>


<a href='/search/?q={{H_p.Location}}'><p style="color:#1E90FF;text-align:center;">{{H_p.Dis}}</div>
<img src="{{H_p.Hpic.url}}" id="twoooimg" style="opdacity:0.8;height:auto;margin-bottom:5px" /></a>
                    </div>

{% endfor %}
</div> 	
</div>
</div>
</body>

{% endblock %}


</div>
{% block footer %}
<footer style='background-color:#191940;clear:both;border-radius:5px;color:white;text-align:center;'>
                <div class="container">
                    <p class="pull-right">
                    Contact:    affixmw@gmail.com<br></p>
                    <p>    &copy; Affixmw 2016
                    </p>
                </div>
            </footer>
{% endblock%}
</div>
