<!Doctypt html>
<html>
<head>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/css.css' %}" type="text/css" rel="stylesheet">
<link href="https://cdn.rawgit.com/levi-p/aff/master/details/static/css/css.css" rel="stylesheet">

<style>
.sidenav {
    width: 20%;
    height: 50%;
    border:/* 2px solid red;*/;
    float: left;
    position: relative;
    bottom: -5%;
    clear: both; }
}
#but{
   background-color: orange;
}
a {
color:#1E90FF;
text-decoration:none;
}

a:hover {
    color:orange;
    
}
</style>
{% block title %}
<title>Affixmw</title>
{% endblock %}
</head>
<body>
<div id="container" stylde="border: ">
    <div id="content">


<div class="one" style="width:70%;height:170px;float:left;padding:0px;">
<ul>
    <a href='/' ><li>Home</li></a>
    <a href="{% url 'Det:details' %}"><li>Places</li></a>
    <a href="{% url 'art:list' %}"><li>Articles</li></a>
    <a href="{% url 'about' %}"><li>About us</li></a>
    
</ul>

<div style="position:relative;top:-15px;float:left;border:;height:70%;width:70%;margin-bottom:3px;"><img src="{% static 'round.png' %}" style="width:31%;height:92%;" alt="gg">
</div>
</div>
<div class="one" style="width:25%;height:190px;float:right;clear:none;border:;border-bottom:2px solid white;background: linear-gradient(to right,white,white );box-shadow: 0 0px 0px;padding:5px;text-align:center;overflow:hidden">
    <div id='ntyet' style="padding:0px;position:relative;top:-4px;">
<div style="height:40%;witdth;100%;border:0.5px solid #191940;text-align:center;background-color:#191940;border-radius:5px;padding:0px;"><h2 style="color:orange">Welcome!</div>
<p style="color:#867abe;text-size:8px;">We provide  you with uptodate information on accomodation in places you are visiting in Malawi. We hope to give you an amazing experience. </p></div>

</div>
</div>

<div style="border-top:4px solid #191940;width:100%;height:auto;clear:both;border-bottom:2px solid white;position:relative;top:-10px;">
{% block content %}
<!--<div class="two">
<div style="height: 80%;border: 0px solid ;width: 40%;float:left;color: white;"><img src="{% static 'Affix.png' %}" class="twoimg"></img>
<di><p>Showing you places you never thought existed.</p></div>

<div id='two' style="background-color: ;">
<h3>Welcome!</h3>
<p>we provide  you with latest information on accomodation in places you are visiting in malawi</p></div>

</div>-->

<div class="sidenav" style="border:" >
<div style="text-size:2px;"> <a href="{% url 'Det:details' %}" style="text-decoration:none;"><p> Start Here</p></a>
<form action="{% url 'home' %}" method="GET">
{% comment %}{% csrf_token %}
{{form.as_table}}{% endcomment %}
<input type="text" name='q' value="search" style="background-color: ;border-radius: 5px;" id="but"></br>
<input type="submit" value="search" style="background-color: orange;border-radius: 5px;" id="but"></form>
<p>
{% if results %}
Results for {{qr}}:</br>
{% for i in results %}

    <a href="{{i.get_absolute_url}}" style="color:#1E90FF">{{i}}</a></br>



{% endfor %}

{% endif %}
{{result2}}
</p>

</br>



</div>

</div>

<div class='twoo'><img src="{{H_p.Hpic.url}}" id="twoooimg" ></img>
<p>{{H_p.Dis}}<p></div>
<!--<div class='twooo'><img src="{% static 'two.jpg' %}" id="twoooimg"></img></div>-->


 



</div> 	
<!-- of SP-->
<div class="twdo" style="width:25%;float:right;position:relative;bottom:28%;background-color: white;height: 50%;clear:;"></div>
{% endblock %}
<div class="one" style="position:fixed;bottom:0%;color:white;font-weight:bold;width:100%;">
<div style="position:relative;text-align:center;width:100%;">&copy; affixmw 2016</div>



</div>
</div>
<!--<div  id="footer" >My Sticky Footer</div>-->
