<!Doctypt html>
<html>
<head>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/css.css' %}" type="text/css" rel="stylesheet">
<link href="https://cdn.rawgit.com/levi-p/aff/master/details/static/css/css.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.css" %}">

<style>
#but{
   background-color: orange;
}
a {
color:#1E90FF;
text-decoration:none;
}

a:hover {
    color:orange;
    
}
</style>
{% block title %}
<title>Affixmw</title>
{% endblock %}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="container" stddyle="border: ;background-color;blued">
    <div id="content" stylde="backfground-color:#191940;">
<iemg src="{% static 'Affix2.png' %}" style="width:20%;height:auto;" alt="gg">


<div class="one" style="width:100%;height:auto;float:left;padding:0px;">

<ul>
    
    <a href='/' ><li><div stsyle="position:relative;top:-50px;float:left;border:;height:200px;width:70%;margind:5px;"><img src="{% static 'Affix2.png' %}" style="width:20%;height:auto;" alt="gg">
</div></li></a>
    <a href="/"><li>Home</li></a>
    <a href="{% url 'Det:details' %}"><li>Accomodation</li></a>
    <a href="{% url 'art:list' %}"><li>Articles</li></a>
    <a href="{% url 'about' %}"><li>About us</li></a>
    
</ul>

</div>
<!--<div style="bordeer:2px solid red;height:200px;width:100% ;background-color:#191940;opacity:;position:relative;top:110px;">

<div style="position:relative;top:-50px;float:left;border:;height:200px;width:70%;margind:5px;"><img src="{% static 'round.png' %}" style="width:31%;height:92%;" alt="gg">
</div>

<div class="one" style="width:25%;height:190px;float:right;clear:none;border:;border-bottom:2px solid white;background: linear-gradient(to right,white,white );box-shadow: 0 0px 0px;padding:5px;text-align:center;overflow:hidden;margin:5px;position:relative;top:-55px;">
    <div id='ntyet' style="padding:0px;position:relative;top:-4px">
<div style="height:40%;witdth;100%;border:0.5px solid white;text-align:center;backgrcound-color:#191940;border-radius:5px;padding:0px;"><h2 style="color:orange">Welcome!</div>
<p style="color:#867abe;text-size:8px;">We provide  you with uptodate information on accomodation in places you are visiting in Malawi. We hope to give you an amazing experience. </p></div>
</div>
</div>
</div>-->


<div style="border-top:4px solid #191940;width:100%;height:auto;clear:both;border-bottom:2px solid white;position:relative;top:3px;background-colofr:gray;">
{% block content %}

<div class="one" style="width:40%;height:120px;floaet:right;clear:none;border:;border-bottom:2px solid white;background: linear-gradient(to right,white,white );box-shadow: 0 0px 0px;padding:5px;text-align:center;overflow:hidden;margin:auto;positionf:relative;top:-55px;">
    <div id='ntyet' style="padding:0px;position:relative;top:-4px">
<div style="height:40%;witdth;100%;border:0.5px solid white;text-align:center;backgrcound-color:#191940;border-radius:5px;padding:0px;"><h2 style="color:orange">Welcome!</div>
<p style="color:#867abe;text-size:8px;">We provide  you with uptodate information on accomodation in places you are visiting in Malawi. We hope to give you an amazing experience. </p></div>
</div>
</div>
</div>


<!--<div class="two">
https://cdn.rawgit.com/levi-p/aff/master/details/static/round.png

<div style="height: 80%;border: 0px solid ;width: 40%;float:left;color: white;"><img src="{% static 'Affix.png' %}" class="twoimg"></img>
<di><p>Showing you places you never thought existed.</p></div>

<div id='two' style="background-color: ;">
<h3>Welcome!</h3>
<p>we provide  you with latest information on accomodation in places you are visiting in malawi</p></div>

</div>-->

<div class="sidenav" style="border:" >
<div style="text-size:2px;"> <a href="{% url 'Det:details' %}" style="text-decoration:none;"><p> Start Here</p></a>
<form action="{% url 'home' %}" method="GET">{% csrf_token %}
{% comment %}
{{form.as_table}}{% endcomment %}
<input type="text" name='q' value="search" style="background-color: ;border-radius: 5px;" id="but"></br>
<input type="submit" value="search" style="background-color: orange;border-radius: 5px;" id="but"></form>
<p>
{% if results %}
Results for {{qr}}:</br>
{% for i in results %}

    <a href="{{i.get_absolute_url}}" style="color:#1E90FF">{{i}}</a></br>



{% endfor %}

{% endif %}

{{result2}}
</p>

</br>
<div class="fb-like" data-href="https://www.facebook.com/Affixmalawi" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>




</div>

</div>


{% for H_p in H_p %}

<div class='twoo' ><img src="{{H_p.Hpic.url}}" id="twoooimg" ></img>

<!--<div class="fb-follow" data-href="https://www.facebook.com/Affix-Malawi-1040525819373121" data-width="6" data-height="6" data-layout="standard" data-size="small" data-show-faces="true"></div>-->


<p>{{H_p.Dis}}<p></div>
<!--<div class='twooo'><img src="{% static 'two.jpg' %}" id="twoooimg"></img></div>-->
{% endfor %}


 



</div> 	
<!-- of SP-->
<div class="sp" style="width:25%;float:right;position:relative;z-index: ;background-color: white;height: 90%;clear;top:-680px;">
{% include 'sp.html' %}
</div>
{% endblock %}
<!--<div class="one" style="position:fixed;bottom:0%;color:white;font-weight:bold;width:100%;">
<div style="position:relative;text-align:center;width:100%;">&copy; affixmw 2016</div></div>-->


</div>
{% block footer %}
<footer style='background-color:#191940;clear:both;border-radius:5px;color:white;text-align:center;'>
                <div class="container">
                    <p class="pull-right">
                    Contact:    affixmw@gmail.com<br></p>
                    <p>    &copy; Affixmw 2016
                    </p>
                </div>
            </footer>
{% endblock%}<!-- <div  id="footer" >My Sticky Footer</div>-->
