{% extends 'base.html' %}
{% load static %}




<style>
ul a{
    text-decoration: none;        
}
</style>
{% block title %}
<title>Accomodation</title>
{% endblock %}


{% block content %}
<h2 style="text-align:center;font-weght:bold">All Places</h2>
<div style="background-color:#eaeaea;">


<div class="done">


{% for i in P_details %}

<div class='twoood' style="overflow:hidden;float:;height:auto;position:relative;z-index:-10px;background-color:white;margin-bottom:5%;">
   <div>{% if i.Pics %}
   <img src="{{i.Pics.url}}" id="p-list-img" style="width:40%" alt='ff'></img>



<a href='{{i.get_absolute_url}}' style="color:#1E90FF"><span style="font-size:20px;font-weight:bold;">{{i.Name}}</span></a></br>
   <span style="font-weight:bold;font-size:14px;color:red;"><span style="color:#1E90FF">Location:</span>{{i.Location}}</br>
   </p></span>
   <div style='clear:both'><a href='{{i.get_absolute_url}}' style="margin-tdop:-10px;background-color:green;color:white;text-decoration:none;">Click to View Place Details</a>
   </div>


</div>



</br>
   {% else %}
   <img src="{% static 'd.png' %}".crop.680x680 alt='dpdp' style="height:90px;float:left;width:70px;border:1px solid #1E90FF;margin:2px;"></br>
   
   {% endif %}
   
   

   
</div>

   
{% endfor %}
</div>
</div>

{% endblock %}





