{% extends 'base.html' %}
{% block content %}

<div >
<img src="{{P2_details.Pics.url}}" alt="image" style="width:40%;height:50%;margin:auto;display:block;"></img></div>

<div style="border-radius: 5px;height:auto;width:50%;border:;margin:auto;margin-top: 10px;padding: 10px;margin-left:;overflow:hidden;text-align:justify;">
<p>Name:		{{P2_details.Name}}</br>
Location:	{{P2_details.Location}}</br>
{{P2_details.category.Name}}</br>
<p style="color:#696969">{{P2_details.Discription|safe}}</p></p>
</div>
{% endblock %}
