{% extends 'base.html' %}


{% block title %}
<title>Articles</title>

{% endblock %}



{% block content %}



<h2 style="text-align:center;font-weght:bold">All Articles</h2>





<div class="post_list" style="">

{% for x in P_list|dictsortreversed:'time' %}
<div style="width:100%;height:auto;overflow:hidden;border-bottom:2px solid #191940">


    <div class="post_img1" style="overflow:hidden;height:auto">
    

<img src="{{x.Pic.url}}" alt="image" style="width:100%" id="room-d-img" /></div>



<div class="post_inside" style="">
{% if i.Pic %}
<img src="{x.Pic.url}}" style="margin:auto;height:auto;width:80%;display:block;border-radius:5px;" alt="image"></img>
{% endif %}
 <h3>  <a href="{{ x.get_absolute_url }}" style="color:black">{{x}}</a></h3>
<p class="Article_text">{{x.Article|truncatechars:200}} <a href="{{ x.get_absolute_url }}" style="color:#1E90FF">Read more</a></p>
        </div></br>










</div>
{% endfor %}


</div>












{% endblock %}


