{% load static %}


{% for i in sp %}

<div class='twooosp' style="overflow:hidden;float:left">
   <p>{% if i.Hpic %}
   <img src="{{i.Hpic.url}}" style="height:auto;float:left;width:25%;border:1px solid gray ;margin:2px;" alt='ff'>
   {% else %}
   <img src="{% static 'd.png' %}".crop.680x680 alt='dpdp' style="height:auto;float:left;width:80px;border:1px solid #1E90FF;margin:2px;">
   
   {% endif %}

   <p style="font-size:15px;color:#867abe;#696969">{{i.Dis}}</p>  
   <p style="color:#1E90FF;margin:4px">{{i.Name}}</p></br>
   </p>
   
</div>

{% endfor %}


